<div class="login-container">
  <div class="card login-card shake-form" [ngClass]="{'shake-form': isShakeForm}">
    <div class="login">
      <h1 class="p-4 text-center">¡Bienvenido!</h1>
      <p class="mb-4 text-center">Introduce tu usuario y contraseña para acceder</p>
      <form [formGroup]="formLogin" class="login-form">
        <fieldset >
          <label class="block tracking-wide text-gray-600 text-sm">
            <input 
              class="appearance-none block w-full bg-white text-gray-700 rounded-lg py-3 px-4 leading-tight focus:outline-none focus:bg-white"
              type="text" 
              placeholder="Introduce tu usuario" 
              formControlName="username">
          </label>
          <span 
            *ngIf="formUtils.checkStatus(formLogin.get('username'))"
            class="text-red-500 text-xs font-semibold italic">{{formUtils.getErrorMessage(formLogin.get('username'))}}</span>
        </fieldset>
        <fieldset>
          <label class="block tracking-wide text-gray-600 text-sm">
            <input 
              class="appearance-none block w-full bg-white text-gray-700 rounded-lg py-3 px-4 leading-tight focus:outline-none focus:bg-white"
              type="text" 
              placeholder="Introduce tu usuario" 
              formControlName="password">
          </label>
          <span 
            *ngIf="formUtils.checkStatus(formLogin.get('password'))"
            class="text-red-500 text-xs font-semibold italic">{{formUtils.getErrorMessage(formLogin.get('password'))}}</span>
        </fieldset>
  
        <div class="flex items-center justify-between">
          <button class="bg-transparent border-solid border-2 border-indigo-500 hover:bg-indigo-400 text-slate-900 hover:text-white py-2 px-4 rounded-lg focus:outline-none focus:shadow-outline" type="button">
            Registrarse
          </button>
          <button 
            (click)="onLogin()"
            class="inline-flex bg-indigo-600 hover:bg-indigo-500 text-white py-2 px-4 rounded-lg focus:outline-none focus:shadow-outline"
            [ngClass]="{'cursor-not-allowed': isLoading}"
            [disabled]="isLoading"
            type="button">
            <svg 
              *ngIf="isLoading"
              class="animate-spin -ml-1 mr-3 h-5 w-5 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
              <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
              <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
            </svg>
            <ng-container *ngIf="!isLoading">Login</ng-container>
            <ng-container *ngIf="isLoading">Conectando...</ng-container>            
          </button>
        </div>
      </form>
    </div>
  
  
    <div class="register">
    </div>
  
  </div>
</div>
